<div class="menu">
	<table class="money_menu">
		<tr>
			<th>おかねについて</th>
		</tr>
		<tr>
			<td><input type="button" onclick="location.href= '/money/index'" value="入出金管理" ></td>
		</tr>
		<tr>
			<td><input type="button" onclick="location.href= '/money/new'" value="買い出し管理"></td>
		</tr>
		<tr>
			<td><input type="button" onclick="location.href= '/collect/index'" value="徴収管理"></td>
		</tr>

	</table>
	<table class="blank_menu">
	</table>

	<table class="user_menu">
		<tr>
			<th>こきゃく/かんり</th>
		</tr>
		<tr>
			<td><input type="button" onclick="location.href= '/user/info'" value="顧客情報管理"></td>
		</tr>
		<tr>
			<td><input type="button" onclick="location.href= '/hope/index'" value="要望管理"></td>
		</tr>

		<tr>
			<td><input type="button" onclick="location.href= '/admin/index'" value="管理者登録 / 編集"></td>
		</tr>

	</table>

</div>
