<div class="state_table">
	<div class="head_text"><span>顧客新規作成</span></div>

	<div class="recontents">
		<%= form_tag("/user/create") do %>
			<div class="data_contents">
				<span>氏名</span>
				<br>
				<input type="text" name="name">
			</div>
			<div class="edit_btn">
				<input type="submit" value="更新">
			</div>
		<% end %>
	</div>
</div>