// Place all the styles related to the money controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right_text,.left_text{
	background-color: #ffb6b9;
}

.right_text{
	text-align: right;
}

.left_text{
	text-align: left;

}

.head_text{
	width: 750px;
	background-color: #bbded6;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.head_text span{
	text-align: center;
	width: 750px;
}

.state_table {
	width: 750px;
	height: 400px;
	text-align: center;
	margin:0 auto;
	margin-top:30px;
}
.table_scroll{
	overflow:auto;
}

.state_table table{
	border-collapse:  collapse;
	cursor: default;
	margin: 0 auto;
}

.state_table th,td{
	border: 1px black solid;
	width: 150px;
	height:35px;
}

.state_table th{
	background-color: #ffb6b9;
}


.edit_btn input{
	width: 100px;
	text-decoration: none;
	border: solid 2px #8ac6d1;
    border-radius: 3px;
    transition: .4s;
	background-color: white;
	color: #8ac6d1;
}
.edit_btn input:hover {
	background: #8ac6d1;
	color: white;
  	cursor: pointer;
}

.recontents{
	text-align: center;
	width: 165px;
	margin: 0 auto;
}

.data_contents {
	position: relative;
	margin-bottom: 20px;
}

.data_contents span{
	position: absolute;
	left:0px;
	margin-top: 10px;
}

.data_contents select{
	width:160px;
	margin-top: 10px;
}

.data_contents ul{
	padding:0px;
	text-align: left;
}

.data_contents input{
	margin-top: 10px;
}

.btn_disable{
	pointer-events : none;
}

.client_data{
	width: 600px;
}

.client_data th td{
	width:100px;
}

.client_data input{
	width:70px;
}

.collection_data th{
	width:120px;
}

.collection_data input{
	width:200px;
}

.hw_size{
	height: 350px;
	width: 750px;
	text-align: center;
}

.claim_btn{
	margin-bottom: 30px;
}

.dis_btn input{
	text-decoration: none;
	border: solid 2px #8ac6d1;
    border-radius: 3px;
    transition: .4s;
	background-color: #dadada;
	color: #8ac6d1;
	
}

.uncollect{
	background-color: #ffb6b9;
}

.create_btn{
	width: 580px;
	margin: 0 auto;
	text-align: center;
}

.choice{
	position: relative;
	width: 750px;
	height: 20px;
	margin: 0 auto;
}

.radio{
	position: absolute;
	right:0px;
	width:500px;
	text-align: right;
}

table#bank_history_table tr[data-href], table.client_data tr[data-href],
table.history_data tr[data-href]{
  cursor: pointer;
}

#bank_history_table .data-tr,.client_data .data-tr,
.history_data .data-tr{
	background-color: white;
}

#bank_history_table .data-tr:hover,.client_data .data-tr:hover,
.history_data .data-tr:hover{
	background-color: #F6DB9E;
}


.side_btn {
	float:left;
	margin-left: 10px;

}
.clear_float{
	clear: both;
}

.edit_a_btn{
	display: block;
	width: 270px;
	height: 22px;
	margin-top: 20px;
	text-decoration: none;
	border: solid 2px #8ac6d1;
    border-radius: 3px;
    font-size: 13px;
    transition: .4s;
	background-color: white;
	color: #8ac6d1;
}
.edit_a_btn:hover {
	background: #8ac6d1;
	color: white;
  	cursor: pointer;
}