// Place all the styles related to the safe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.safe_balance{
  margin-bottom: 10px;
}
.safe_text{
  text-align: left;
  width: 160px; 
  margin: 0 auto;
}